




.titulos2{
    margin-top: 10% !important;

}
.display-4, .display-1{
    text-decoration: underline;
    text-decoration-color: red;

}

.textosmenu p {
    text-align: center;
    padding-bottom: 5%;
}

.textosmenu{
    padding-bottom: 5%;
}

.imagenesmenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.textopostres td {
    color: white;
    margin-bottom: 15% !important;
}
